/*******************
eggs by iarumas!
********************/

.container {
    max-width: 1440px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    min-height: calc(100vh - 60px);
}

.d-flex {
    display: flex;
}

.text-muted {
    color: #7A7067;
}

.login {
    max-width: 350px;
    margin: 4rem auto 0 auto;
}

.form-group {
    width: 100%;
}

a {
    color: #BFB3A8;
    margin-top: 10rem;
    text-decoration: none;
}

a:hover {
    color: #E6DFD9;
}

/* Sizing */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}