/* Colors
#729599
#BCC5CE

#E6DFD9
#BFB3A8
#7A7067
*/

html, body {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    color: #E6DFD9;
    transition: 0.3s;
}

/* Forms */

input {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #7A7067;
    padding: 8px 2px;
    /* border-radius: 25rem; */
    color: #E6DFD9;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #E6DFD9;
}

button {
    background: none;
    color: #BFB3A8;
    border: 0;
    border-bottom: 1px solid #7A7067;
    padding: 8px 2px;
}

button:hover {
    cursor: pointer;
    color: #E6DFD9;
    border-bottom: 1px solid #E6DFD9;
}

/* end of forms */

.footer {
    border-top: 1px solid #7A7067;
    color: #7A7067;
}