/* Colors
#729599
#BCC5CE

#E6DFD9
#BFB3A8
#7A7067
*/

html, body {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    color: #E6DFD9;
    transition: 0.3s;
}

/* Forms */

input {
    width: 100%;
    box-sizing: border-box;

    background-color: transparent;
    border: 0;
    /* border-radius: 25rem; */
    border-bottom: 1px solid #7A7067;
    padding: 12px 16px;
    color: #E6DFD9;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #E6DFD9;
}

button {
    background-color: rgba(255, 255, 255, 0.05);
    color: #BFB3A8;
    border: 0;
    border-radius: 25rem;
    border: 1px solid #7A7067;
    padding: 12px 16px;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

button:hover {
    cursor: pointer;
    color: #E6DFD9;
    border: 1px solid #E6DFD9;
}

/* end of forms */

#city {
    z-index: -1;
    opacity: 0.05;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.footer {
    border-top: 1px solid #7A7067;
    color: #7A7067;
}